.welcome-user {
    padding: 20px 50px 50px 50px;
    width: 80%;
    height: 100%;
    border-radius: 10px;
    background-color: var(--box-bkg, #f1faee);
  }
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  .main-image {
    display: flex;
    justify-content: center;
    width: 20%;
    height: 20%;
  }
  .main-image svg path {
    fill: var(--img-color, #1d3557);
  }
  .heading {
    width: fit-content;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: var(--text-type1, #1d3557);
  }
  .sub-heading {
    display: flex;
    flex-direction: row;
  }
  .sub-line {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: left;
    color: var(--text-type2, #457b9d);
  }
  .sub-heading:before {
    content: "";
    display: block;
    width: 100px;
    height: 2px;
    background-color: var(--text-type2, #457b9d);
    margin-top: 10px;
    margin-right: 5px;
  }
  .sub-heading:after {
    content: "";
    display: block;
    width: 100px;
    height: 2px;
    background-color: var(--text-type2, #457b9d);
    margin-top: 10px;
    margin-left: 5px;
  }
  .form-data {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  .form-field {
    width: 60%;
    padding: 10px 0 10px 0;
    color: #f1faee;
  }
  
  input[type="text"] {
    width: 100%;
    font-size: 25px;
    padding: 5px 0 5px 15px;
    color: var(--input-type1, #f1faee);
    border-radius: 10px;
    border: none;
    border-color: #1d3557;
    background-color: var(--text-type1, #1d3557);
  }
  input[type="text"]:hover {
    outline: none;
    transform: scale(1.1);
    transition: 0.2s;
    box-shadow: 0 0 3pt 2pt var(--text-type2, #457b9d);
  }
  input[type="text"]:focus {
    transform: scale(1.1);
    transition: 0.2s;
    outline: none;
    box-shadow: 0 0 3pt 2pt var(--text-type2, #457b9d);
  }
  .form-field select {
    width: 100%;
    font-size: 25px;
    padding: 5px 0 5px 15px;
    border-color: #1d3557;
    background-color: var(--text-type1, #1d3557);
    color: var(--input-type1, #f1faee);
    border-radius: 10px;
  }
  .select:focus {
    outline: none;
    transform: scale(1.1);
    transition: 0.2s;
    box-shadow: 0 0 3pt 2pt var(--text-type2, #457b9d);
  }
  .select:hover {
    transform: scale(1.1);
    transition: 0.2s;
    box-shadow: 0 0 3pt 2pt var(--text-type2, #457b9d);
  }
  .option {
    background-color: var(--input-type1, #f1faee);
    color: var(--text-type1, #1d3557);
  }
  
  .start-game {
    height: 50px;
    object-fit: contain;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.16);
    display: flex;
    background-color: var(--text-type2, #457b9d);
    border: none;
    outline: none;
    font-size: 25px;
    align-items: center;
    color: var(--input-type1, #f1faee);
    margin: 20px 0 0 0;
    padding: 0 15px 0 15px;
    border-radius: 10px;
  }
  .start-game:active {
    outline: none;
    border: none;
    border: none;
    transform: scale(1.1);
  }
  .start-game:hover {
    outline: none;
    border: none;
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.2s;
    box-shadow: 0 0 3pt 2pt var(--bkg-color, #1d3557);
  }
  .start-btn {
    margin-left: 5px;
  }
  .error {
    color: #e63946;
    font-size: 20px;
    margin: 1px;
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }
  @keyframes shake {
    10%,
    90% {
      transform: translate3d(-1px, 0, 0);
    }
  
    20%,
    80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%,
    50%,
    70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%,
    60% {
      transform: translate3d(4px, 0, 0);
    }
  }
  
  @media (max-width: 850px) {
    input[type="text"] {
      font-size: 15px;
    }
    .form-field select {
      font-size: 15px;
    }
    .start-game {
      font-size: 15px;
    }
    .start-game img {
      width: 30px;
      height: 30px;
    }
  }
  @media (max-width: 768px) {
    .main-image {
      width: 50%;
    }
    .heading {
      font-size: 40px;
    }
    .sub-line {
      font-size: 10px;
    }
    .sub-heading:after {
      width: 50px;
      margin-top: 5px;
    }
    .sub-heading:before {
      width: 50px;
      margin-top: 5px;
    }
  }
  @media (max-width: 550px) {
    .welcome-page {
      padding: 10px;
      width: 95%;
    }
    .heading {
      margin-top: 30px;
      font-size: 30px;
    }
    .sub-line {
      margin-top: 20px;
    }
    .sub-heading:after {
      margin-top: 25px;
    }
    .sub-heading:before {
      margin-top: 25px;
    }
    .form-field {
      width: 90%;
      padding: 10px 0 10px 0;
      margin-top: 20px;
    }
    .start-game {
      margin-top: 50px;
    }
  }