* {
  box-sizing: border-box;
  margin: 0;
}
p {
  margin: 0;
  padding: 0;
}
.root {
  margin: 0;
  padding: 0;
}
.app {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bkg-color, #1d3557);
  padding: 30px 40px 60px 40px;
}
.home-page-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}