* {
  box-sizing: border-box;
  margin: 0;
}
p {
  margin: 0;
  padding: 0;
}
.root {
  margin: 0;
  padding: 0;
}
.app {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bkg-color, #1d3557);
  padding: 30px 40px 60px 40px;
}

.theme-switcher {
  width: 15%;
  font-size: 15px;
  padding: 5px;
  border-color: none;
  border: none;
  background-color: black;
  color: #f1faee;
  border-radius: 10px;
  margin: 5px;
  margin-bottom: 1rem;
}
.theme-switcher:focus {
  outline: none;
  transform: scale(1.1);
}
.theme-switcher:hover {
  outline: none;
  transform: scale(1.1);
}
.home-page {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-page{
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}